<div class="row">
  <div class="col p-1">
    <label class="sr-only" for="inlineFormInputGroup">Username</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fas fa-search"></i>
        </div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="listFilter" id="inlineFormInputGroup" placeholder="Search Messenger">
    </div>
  </div>
</div>
<div class="row">
  <div class="col" [ngStyle]=" { 'overflow-y': 'scroll', 'height': '83.8vh' }">
    <div class="row">
      <div class="col-3 ">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" class="img-fluid imgUser ">
      </div>
      <div class="col-9 ">
        <h6>Nombre</h6>
        <p>Conversacion</p>
      </div>
    </div>
  </div>
</div>