<div class="container-fluid">
  <div class="row">
    <div class="col-3 ">
      <app-usuarios></app-usuarios>
    </div>
    <div class="col-9">
      <div class="row">
        <div  class=" col text-center">
          <h2 >Nombre de la conversacion</h2>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-8">
          <app-mensajes></app-mensajes>
        </div>
        <div class="col-4 padingCol">
          <app-info></app-info>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>