<div class="row">
  <div class="col py-3" [ngStyle]=" { 'overflow-y': 'scroll', 'height': '84vh' }">
    <div class="row" *ngFor="let mensaje of listaDeMensajes ">
      <div class="col" *ngIf="(mensaje.id_receptor==getIdUser() && mensaje.id_emisor==myUser)||(mensaje.id_receptor==myUser&& mensaje.id_emisor==getIdUser()) ">
        <p *ngIf="(mensaje.id_emisor==myUser); else mensaje1" class="bg-primary p-2 pr-3 pl-3" style="border-radius: 25px; float: right;">
          <span style=" word-wrap: break-word;">{{mensaje.mensaje}}</span>
        </p>
        <ng-template #mensaje1>
          <p class="bg-light p-2 pr-3 pl-3 text-right" style="border-radius: 25px; float: left;">
            <span style=" word-wrap: break-word;">{{mensaje.mensaje}}</span>
          </p>
        </ng-template>
      </div>
    </div>
  </div>
</div>