<div class="row">
  <div class="col py-3" [ngStyle]=" { 'overflow-y': 'scroll', 'height': '84vh' }">
    <div class="row" *ngFor="let m of Mensajes">
      <div class="col ">
        <p *ngIf="m.Id=='1'">
          <span class="bg-primary p-2 pr-3 pl-3" style="border-radius: 25px">{{m.Mensajes}}</span>
        </p>
        <p class="text-right" *ngIf="m.Id=='2'">
          <span class="bg-light p-2 pr-3 pl-3" style="border-radius: 25px">{{m.Mensajes}}</span>
        </p>
      </div>
    </div>
  </div>
</div>