<div>
  <div class="row">
    <div class="col-12">
      <app-chat-mensajes></app-chat-mensajes>
    </div>
  </div>
  <div class="row pt-2" style="border-top: 1px solid; border-color: #cccccc;">
    <div class="col-md-7 col-xs-12">
      <input type="text" [(ngModel)]="mensaje" (keyup.enter)="sendMensaje()" 
            class="form-control" placeholder="Send a message...">
    </div>

    <div class="col-md-5 col-xs-12 ">
      <div class="row">
        <button type="button " class="col btn btn-light p-1">
          <i class="fab fa-git-square"></i>
        </button>
        <button type="button" class="col btn btn-light p-1">
          <i class="far fa-sticky-note"></i>
        </button>
        <button type="button" class="col btn btn-light p-1">
          <i class="fas fa-microphone"></i>
        </button>
        <button type="button" class="col btn btn-light p-1">
          <i class="far fa-smile"></i>
        </button>
        <button type="button" class="col btn btn-light p-1">
          <i class="fas fa-gamepad"></i>
        </button>
        <button type="button" class="col btn btn-light p-1">
          <i class="fas fa-camera"></i>
        </button>
        <button type="button" class="col btn btn-light p-1">
          <i class="far fa-thumbs-up"></i>
        </button>
      </div>
    </div>
  </div>
</div>