<div>
  <div class="row">
    <div class="col-12" style="height:550px;">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-7 col-xs-12">
      <input type="text" class="form-control" placeholder="Send a message...">
    </div>

    <div class="col-md-5 col-xs-12 ">
      <div class="row">
        <button type="button " class="col btn btn-light">
          <i class="fab fa-git-square"></i>
        </button>
        <button type="button" class="col btn btn-light">
          <i class="far fa-sticky-note"></i>
        </button>
        <button type="button" class="col btn btn-light">
          <i class="fas fa-microphone"></i>
        </button>
        <button type="button" class="col btn btn-light">
          <i class="far fa-smile"></i>
        </button>
        <button type="button" class="col btn btn-light">
          <i class="fas fa-microphone"></i>
        </button>
        <button type="button" class="col btn btn-light">
          <i class="fas fa-camera"></i>
        </button>
        <button type="button" class="col btn btn-light">
          <i class="far fa-thumbs-up"></i>
        </button>
      </div>

    </div>
  </div>

</div>